.api-url
{
    _font-style: italic;
    font-size: larger;
    color: #333;
    padding: 0 10px;
}

.api-http-method
{
    background-color: #3261ac;
    padding: 0 5px;
    width: 30px;
    font-size: 12px;
    text-align: center;
    margin: 0;
    font-family: 'Inconsolata' , 'Monaco' , 'Consolas' , 'Bitstream Vera Mono' , monospace;
    border-radius: 2px;
    color: white;
    line-height: 25px;
    float: left;
}

.auth-token
{
    font-size: larger;
    font-weight: bold;
    padding: 5px;
}

.content {
    font-family: 'Open Sans', sans-serif;
}

dl.listing dd {
    margin: 5px 0 10px 20px;
}

dl.listing dt a {
    margin-right: 3px;
}

.footer {
  margin-top: 45px;
  padding: 35px 0 36px;
  border-top: 1px solid #e5e5e5;
}

h1 + p {
    margin-top: 10px;   
}

.api-description {
    margin-bottom: 25px;
}

.history-item-description {
    color: #999;
    font-size: smaller;
    padding-left: 1px;
}

.history-item-details {
    margin-top: 3px;
    margin-bottom: 8px;
}

.history-email-header, .history-inline-message {
    min-height: 15px;
    padding: 5px;
    margin: 10px 0px;
    background-color: whiteSmoke;
    border: 1px solid #EEE;
    border: 1px solid rgba(0, 0, 0, 0.05);
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
    -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
}

.history-inline-header {
    display: inline;
    margin-left: 10px;
    top: -1px;
    position: relative;
}

.history-inline-content {
    margin-top: 10px;
}

.history-email-header ul {
    margin-top: 7px; 
    list-style: none;
}

.history-email-header ul li {
    margin-left: -15px;
}

.email-header-name {
    font-weight: bold;
    width: 25px;
}