.api-url
{
    _font-style: italic;
    font-size: larger;
    color: #333;
    padding: 0 10px;
}

.api-http-method
{
    background-color: #3261ac;
    padding: 0 5px;
    width: 30px;
    font-size: 12px;
    text-align: center;
    margin: 0;
    font-family: 'Inconsolata' , 'Monaco' , 'Consolas' , 'Bitstream Vera Mono' , monospace;
    border-radius: 2px;
    color: white;
    line-height: 25px;
    float: left;
}

.auth-token
{
    font-size: larger;
    font-weight: bold;
    padding: 5px;
}

.content {
    font-family: 'Open Sans', sans-serif;
}

dl.listing dd {
    margin: 5px 0 10px 20px;
}

dl.listing dt a {
    margin-right: 3px;
}

.footer {
  margin-top: 45px;
  padding: 35px 0 36px;
  border-top: 1px solid #e5e5e5;
}

h1 + p {
    margin-top: 10px;   
}

.api-description {
    margin-bottom: 25px;
}

.history-item-description {
    color: #999;
    font-size: smaller;
    padding-left: 1px;
}

.history-item-details {
    margin-top: 3px;
    margin-bottom: 8px;
}

.history-email-header {
    list-style: none;
}

.history-email-header ul {
    list-style: none;
}

.history-email-header ul li {
    margin-left: -15px;
}

.email-header-name {
    font-weight: bold;
    width: 25px;
}