<model overrides="test">
  <removeProperty key="inQueue" />
  <query from="qry_case_view" type="view">
    <traverseRelation type="adhoc" field="elm_objid" table="case" targetField="objid">
      <addMappedProperty key="currentQueue">
        <traverseRelation name="case_currq2queue">
          <addProperty key="id" field="objid" dataType="int" />
          <addProperty key="title" field="title" dataType="string" />
        </traverseRelation>
      </addMappedProperty>
    </traverseRelation>
  </query>
</model>
