<model overrides="test">
  <query from="qry_case_view" type="view">
    <addProperty key="anotherProperty" field="some_other_field" dataType="string" />
    <traverseRelation type="adhoc" field="elm_objid" table="case" targetField="objid">
      <addProperty key="newProperty" field="some_field" dataType="string" />
    </traverseRelation>
  </query>
</model>
