<model name="test">
  <query from="qry_case_view" type="view">
    <addProperty key="id" field="elm_objid" dataType="int" propertyType="identifier" />
    <addProperty key="title" field="title" dataType="string" />
    <addProperty key="ownerUsername" field="owner" dataType="string" />

    <addProperty key="caseType" field="type" dataType="string">
      <addTransform name="localizedListItem">
        <addArgument name="listName" value="Case Type" />
        <addArgument name="listValue" property="caseType" />
      </addTransform>
    </addProperty>

    <traverseRelation type="adhoc" field="elm_objid" table="case" targetField="objid">
      <addProperty key="id" field="id_number" dataType="string" />
      <addProperty key="lastModified" field="modify_stmp" dataType="dateTime" />

      <traverseRelation name="case_currq2queue">
        <addProperty key="inQueue" field="title" dataType="string" />
      </traverseRelation>

      <addPartial name="site-partial" relationName="case_reporter2site" />

      <addMappedCollection key="attachments">
        <traverseRelation name="case_attch2doc_inst">
          <addSort field="objid" type="desc" />

          <addProperty key="title" field="title" dataType="string" />
          <addProperty key="id" field="objid" dataType="int" />
          <traverseRelation name="attach_info2doc_path">
            <addProperty key="fileIcon" field="path" dataType="string" />
          </traverseRelation>
          <traverseRelation name="doc_inst2act_entry">
            <addProperty key="uploaded" field="entry_time" dataType="dateTime" />
            <addMappedProperty key="uploader">
              <traverseRelation name="act_entry2user">
                <addProperty key="login" field="login_name" dataType="string" />
                <traverseRelation name="user2employee">
                  <addProperty key="firstName" field="first_name" dataType="string" />
                  <addProperty key="lastName" field="last_name" dataType="string" />
                </traverseRelation>
              </traverseRelation>
            </addMappedProperty>
          </traverseRelation>

        </traverseRelation>
      </addMappedCollection>
    </traverseRelation>
  </query>
</model>
