<fubu-localization>
  <string key="DiagnosticKeys:ApplicationStartup">Application Startup</string>
  <string key="DiagnosticKeys:ModelBindingExplorer">Model Binding Explorer</string>
  <string key="DiagnosticKeys:Requests">Requests</string>
  <string key="DiagnosticKeys:Routes">Routes</string>
  <string key="DiagnosticKeys:Services">Services</string>
  <string key="DiagnosticKeys:ServicesByName">Services by Name</string>
  <string key="DiagnosticKeys:ServicesBySource">Services by Source</string>
  <string key="HistoryBuilderTokens:ACCEPTED">Accepted</string>
  <string key="HistoryBuilderTokens:ASSIGNED">Assigned</string>
  <string key="HistoryBuilderTokens:ATTACHMENT_ADDED">Attachment added</string>
  <string key="HistoryBuilderTokens:ATTACHMENT_DELETED">Attachment deleted</string>
  <string key="HistoryBuilderTokens:CLOSED">Closed</string>
  <string key="HistoryBuilderTokens:CREATED">Created</string>
  <string key="HistoryBuilderTokens:DISPATCHED">Dispatched</string>
  <string key="HistoryBuilderTokens:LOG_EMAIL_CC">CC</string>
  <string key="HistoryBuilderTokens:LOG_EMAIL_DATE">Date</string>
  <string key="HistoryBuilderTokens:LOG_EMAIL_FROM">From</string>
  <string key="HistoryBuilderTokens:LOG_EMAIL_IN">Received Email</string>
  <string key="HistoryBuilderTokens:LOG_EMAIL_OUT">Sent Email</string>
  <string key="HistoryBuilderTokens:LOG_EMAIL_SENDTO">Send To</string>
  <string key="HistoryBuilderTokens:LOG_EMAIL_SENT">Sent</string>
  <string key="HistoryBuilderTokens:LOG_EMAIL_SUBJECT">Subject</string>
  <string key="HistoryBuilderTokens:LOG_EMAIL_TO">To</string>
  <string key="HistoryBuilderTokens:LOG_NOTE">Note logged</string>
  <string key="HistoryBuilderTokens:LOG_PHONE">Phone log added</string>
  <string key="HistoryBuilderTokens:REOPENED">Reopened</string>
  <string key="HistoryBuilderTokens:SOLUTION_LINKED">Linked to a solution</string>
  <string key="HistoryBuilderTokens:SOLUTION_UNLINKED">Unlinked from the solution</string>
  <string key="HistoryBuilderTokens:YANKED">Yanked</string>
</fubu-localization>