<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Bottles" version="1.0.0.443" targetFramework="net40" />
  <package id="Dovetail.SDK" version="3.2.10.8" targetFramework="net40" />
  <package id="FubuCore" version="1.0.0.225" targetFramework="net40" />
  <package id="FubuLocalization" version="0.9.5.126" targetFramework="net40" />
  <package id="FubuMVC.Core" version="1.0.1.1410" targetFramework="net40" />
  <package id="FubuMVC.Core.Assets" version="0.9.9.325" targetFramework="net40" />
  <package id="FubuMVC.Core.UI" version="1.0.1.351" targetFramework="net40" />
  <package id="FubuMVC.Core.View" version="1.0.0.383" targetFramework="net40" />
  <package id="FubuMVC.Diagnostics" version="0.9.6.215" targetFramework="net40" />
  <package id="FubuMVC.JQueryUI" version="0.5.0.226" targetFramework="net40" />
  <package id="FubuMVC.Media" version="0.9.5.318" targetFramework="net40" />
  <package id="FubuMVC.Navigation" version="0.9.0.88" targetFramework="net40" />
  <package id="FubuMVC.SlickGrid" version="0.0.0.435" targetFramework="net40" />
  <package id="FubuMVC.Spark" version="1.0.0.383" targetFramework="net40" />
  <package id="FubuMVC.StructureMap" version="1.0.1.1410" targetFramework="net40" />
  <package id="FubuMVC.Swagger" version="0.3.0.5" targetFramework="net40" />
  <package id="FubuMVC.TwitterBootstrap" version="0.0.0.433" targetFramework="net40" />
  <package id="HtmlTags" version="1.2.0.145" targetFramework="net40" />
  <package id="log4net" version="2.0.0" />
  <package id="Microsoft.Web.Infrastructure" version="1.0.0.0" />
  <package id="Spark" version="1.7.5.1" targetFramework="net40" />
  <package id="structuremap" version="2.6.4.1" targetFramework="net40" />
  <package id="WebActivator" version="1.5.3" targetFramework="net40" />
</packages>