Bottles,1.0.0.443,Fixed
Dovetail.SDK,3.2.10.8,Fixed
FubuCore,1.0.0.225,Fixed
FubuLocalization,0.9.5.126,Fixed
FubuMVC.Core,1.0.1.1410,Fixed
FubuMVC.Core.Assets,0.9.9.325,Fixed
FubuMVC.Core.UI,1.0.1.351,Fixed
FubuMVC.Core.View,1.0.0.383,Fixed
FubuMVC.Diagnostics,0.9.6.215,Fixed
FubuMVC.JQueryUI,0.5.0.226,Fixed
FubuMVC.Media,0.9.5.318,Fixed
FubuMVC.Navigation,0.9.0.88,Fixed
FubuMVC.SlickGrid,0.0.0.435,Fixed
FubuMVC.Spark,1.0.0.383,Fixed
FubuMVC.StructureMap,1.0.1.1410,Fixed
FubuMVC.Swagger,0.3.0.5,Fixed
FubuMVC.TwitterBootstrap,0.0.0.433,Fixed
HtmlTags,1.2.0.145,Fixed
log4net,2.0.0,Fixed
Microsoft.Web.Infrastructure,1.0.0.0,Fixed
Spark,1.7.5.1,Fixed
structuremap,2.6.3.0,Fixed
WebActivator,1.5.3,Fixed
