Bottles
Dovetail.SDK
FubuCore
FubuLocalization
FubuMVC.Core
FubuMVC.Core.Assets
FubuMVC.Core.UI
FubuMVC.Core.View
FubuMVC.Diagnostics
FubuMVC.JQueryUI
FubuMVC.Media
FubuMVC.Navigation
FubuMVC.SlickGrid
FubuMVC.Spark
FubuMVC.StructureMap
FubuMVC.Swagger
FubuMVC.TwitterBootstrap
HtmlTags
log4net
Microsoft.Web.Infrastructure
MSBuild.Microsoft.VisualStudio.Web.targets
odp.net.managed
Spark
structuremap
WebActivator
