<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->    
<configuration>    
  <appSettings>
    <add key="WebsiteSettings.ApplicationName" value="hello-bootstrap" />
    <add key="DovetailDatabaseSettings.Type" value="mssql" />
    <add key="DovetailDatabaseSettings.ConnectionString" value="Data Source=.; Initial Catalog=mobilecl125; User Id=sa; Password=sa;" />
    <add key="DovetailDatabaseSettings.SessionTimeoutInMinutes" value="60" />
    <add key="DovetailDatabaseSettings.ApplicationUsername" value="sa" />
    <!--  Case history results can be merged with some details of the child subcases histories? 
          A setting of true for this setting will emulate the Clarify client. -->
    <add key="HistorySettings.MergeCaseHistoryChildSubcases" value="false" />
    <add key="HistorySettings.LogEmailHeaderKeys" value="HistoryBuilderTokens:LOG_EMAIL_CC,HistoryBuilderTokens:LOG_EMAIL_DATE,HistoryBuilderTokens:LOG_EMAIL_FROM,HistoryBuilderTokens:LOG_EMAIL_IN, HistoryBuilderTokens:LOG_EMAIL_OUT,HistoryBuilderTokens:LOG_EMAIL_SENDTO,HistoryBuilderTokens:LOG_EMAIL_SENT,HistoryBuilderTokens:LOG_EMAIL_SUBJECT,HistoryBuilderTokens:LOG_EMAIL_TO" />
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.0" />
    <authorization>
      <deny users="?" />
    </authorization>
    <authentication mode="Forms">
      <forms timeout="21600" name="Bootstrap.AuthId" slidingExpiration="true" loginUrl="~/user/signin" defaultUrl="/" cookieless="UseCookies" />
    </authentication>
    <pages validateRequest="false" controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID">
      <namespaces>
        <add namespace="FubuMVC.Core" />
        <add namespace="FubuCore" />
        <add namespace="FubuCore.Reflection" />
        <add namespace="FubuLocalization" />
        <add namespace="FubuMVC.Core.UI" />
        <add namespace="HtmlTags" />
        <add namespace="HtmlTags.Extended.Attributes" />
        <add namespace="StructureMap" />
        <add namespace="System.Web.Routing" />
      </namespaces>
    </pages>
    <customErrors defaultRedirect="~/error/http500" mode="RemoteOnly">
      <error statusCode="500" redirect="~/error/http500" />
    </customErrors>
  </system.web>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Spark" publicKeyToken="7f8549eed921a12c" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.7.0.0" newVersion="1.7.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="StructureMap" publicKeyToken="e60ad81abae3c223" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.6.4.1" newVersion="2.6.3.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true">
      <add name="PrincipalSetup" type="Dovetail.SDK.Bootstrap.Authentication.SecurityModule, Dovetail.SDK.Bootstrap" />
      <add name="LogRequest" type="Dovetail.SDK.Bootstrap.Configuration.LogRequestContextModule, Dovetail.SDK.Bootstrap" />
      <!-- To prevent static content from being run thru ASP.NET, we want to set runAllManagedModulesForAllRequests="false"
			   However, UrlRoutingModel will stop working, unless you patch IIS to support extensionless routing (introduced in .NET 4)
			   Download the patch at http://support.microsoft.com/kb/980368  -->
      <remove name="UrlRoutingModule" />
      <add name="UrlRoutingModule" type="System.Web.Routing.UrlRoutingModule, System.Web, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" preCondition="managedHandler" />
    </modules>
    <handlers>
      <add name="UrlRoutingHandler" preCondition="integratedMode" verb="*" path="UrlRouting.axd" type="System.Web.HttpForbiddenHandler, System.Web, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
    </handlers>
    <validation validateIntegratedModeConfiguration="false" />
  </system.webServer>
  <location path="api" allowOverride="true">
    <system.web>
      <authorization>
        <allow users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="_fubu" allowOverride="true">
    <system.web>
      <authorization>
        <allow users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="user/login" allowOverride="true">
    <system.web>
      <authorization>
        <allow users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="user/logoff" allowOverride="true">
    <system.web>
      <authorization>
        <allow users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="error" allowOverride="true">
    <system.web>
      <authorization>
        <allow users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="Content" allowOverride="true">
    <system.web>
      <authorization>
        <allow users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="_content" allowOverride="true">
    <system.web>
      <authorization>
        <allow users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="fubu-content">
    <system.web>
      <authorization>
        <deny users="*" />
      </authorization>
    </system.web>
  </location>
</configuration>