<?xml version="1.0"?>
<ripple xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <Name>Dovetail.Bootstrap</Name>
  <NugetSpecFolder>packaging/nuget</NugetSpecFolder>
  <SourceFolder>source</SourceFolder>
  <BuildCommand>rake</BuildCommand>
  <FastBuildCommand>rake compile</FastBuildCommand>
  <NugetCacheDirectory>C:\Users\KevM\AppData\Roaming\ripple</NugetCacheDirectory>
  <DefaultFloatConstraint>Current</DefaultFloatConstraint>
  <DefaultFixedConstraint>Current,NextMajor</DefaultFixedConstraint>
  <Feeds>
    <Feed Url="http://focus.dovetailsoftware.com/nuget/nuget" Mode="Fixed" Stability="ReleasedOnly" />
    <Feed Url="https://nuget.org/api/v2" Mode="Fixed" Stability="ReleasedOnly" />
  </Feeds>
  <Nugets>
    <Dependency Name="Bottles" Version="1.0.0.443" Mode="Float" />
    <Dependency Name="Dovetail.SDK" Version="3.3.2.5" Mode="Fixed" />
    <Dependency Name="FubuCore" Version="1.2.0.272" Mode="Float" />
    <Dependency Name="FubuLocalization" Version="1.0.0.174" Mode="Float" />
    <Dependency Name="FubuMVC.Core" Version="1.2.0.1678" Mode="Float" />
    <Dependency Name="FubuMVC.Core.Assets" Version="0.9.9.560" Mode="Float" />
    <Dependency Name="FubuMVC.Core.UI" Version="1.0.1.351" Mode="Float" />
    <Dependency Name="FubuMVC.Core.View" Version="1.0.0.383" Mode="Float" />
    <Dependency Name="FubuMVC.Diagnostics" Version="0.9.6.215" Mode="Float" />
    <Dependency Name="FubuMVC.JQueryUI" Version="0.5.0.342" Mode="Float" />
    <Dependency Name="FubuMVC.Localization" Version="0.1.0.228" Mode="Float" />
    <Dependency Name="FubuMVC.Media" Version="0.9.5.433" Mode="Float" />
    <Dependency Name="FubuMVC.Navigation" Version="0.9.1.208" Mode="Float" />
    <Dependency Name="FubuMVC.Spark" Version="1.0.0.383" Mode="Float" />
    <Dependency Name="FubuMVC.StructureMap" Version="1.2.0.1678" Mode="Float" />
    <Dependency Name="FubuMVC.Swagger" Version="0.3.0.5" Mode="Float" />
    <Dependency Name="FubuMVC.TwitterBootstrap" Version="0.0.0.644" Mode="Float" />
    <Dependency Name="HtmlTags" Version="2.0.0.181" Mode="Float" />
    <Dependency Name="log4net" Version="2.0.0.0" Mode="Fixed" />
    <Dependency Name="Microsoft.Web.Infrastructure" Version="1.0.0.0" Mode="Fixed" />
    <Dependency Name="MSBuild.Microsoft.VisualStudio.Web.targets" Version="11.0.2.1" Mode="Float" />
    <Dependency Name="NUnit" Version="2.5.10.11092" Mode="Fixed" />
    <Dependency Name="odp.net.managed" Version="121.1.1.0" Mode="Fixed" />
    <Dependency Name="RhinoMocks" Version="3.6.1.0" Mode="Fixed" />
    <Dependency Name="Spark" Version="1.7.5.1" Mode="Fixed" />
    <Dependency Name="Sprache" Version="1.10.0.35" Mode="Float" />
    <Dependency Name="structuremap" Version="2.6.3.0" Mode="Fixed" />
    <Dependency Name="structuremap.automocking" Version="2.6.3.0" Mode="Fixed" />
    <Dependency Name="TopShelf" Version="3.1.0.0" Mode="Fixed" />
    <Dependency Name="TopShelf.Log4Net" Version="3.1.0.0" Mode="Fixed" />
    <Dependency Name="WebActivator" Version="1.5.3.0" Mode="Fixed" />
  </Nugets>
  <Groups />
  <References>
    <IgnoreAssemblies />
  </References>
  <Nuspecs />
</ripple>