<?xml version="1.0"?>
<ripple xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <Name>Dovetail.Bootstrap</Name>
  <NugetSpecFolder>packaging/nuget</NugetSpecFolder>
  <SourceFolder>source</SourceFolder>
  <BuildCommand>rake</BuildCommand>
  <FastBuildCommand>rake compile</FastBuildCommand>
  <DefaultFloatConstraint>Current</DefaultFloatConstraint>
  <DefaultFixedConstraint>Current,NextMajor</DefaultFixedConstraint>
  <Feeds>
    <Feed Url="https://www.myget.org/F/fubumvc-edge/" Mode="Fixed" Stability="ReleasedOnly" />
    <Feed Url="http://nuget.org/api/v2" Mode="Fixed" Stability="ReleasedOnly" />
  </Feeds>
  <Nugets>
    <Dependency Name="Bottles" Version="3.0.0.618" Mode="Float" />
    <Dependency Name="Dovetail.SDK" Version="3.3.5.14" Mode="Float" />
    <Dependency Name="FubuCore" Version="2.0.0.311" Mode="Fixed" />
    <Dependency Name="FubuLocalization" Version="1.0.0.174" Mode="Float" />
    <Dependency Name="FubuMVC.Core" Version="2.1.0.1925" Mode="Fixed" />
    <Dependency Name="FubuMVC.Localization" Version="2.0.0.292" Mode="Fixed" />
    <Dependency Name="FubuMVC.Navigation" Version="2.0.0.240" Mode="Fixed" />
    <Dependency Name="FubuMVC.Spark" Version="2.1.0.1925" Mode="Fixed" />
    <Dependency Name="FubuMVC.StructureMap" Version="2.1.0.1925" Mode="Fixed" />
    <Dependency Name="FubuMVC.Swagger" Version="0.3.0.5" Mode="Float" />
    <Dependency Name="HtmlTags" Version="2.0.0.181" Mode="Fixed" />
    <Dependency Name="log4net" Version="2.0.3" Mode="Fixed" />
    <Dependency Name="Microsoft.Web.Infrastructure" Version="1.0.0.0" Mode="Fixed" />
    <Dependency Name="MSBuild.Microsoft.VisualStudio.Web.targets" Version="11.0.2.1" Mode="Float" />
    <Dependency Name="NUnit" Version="2.5.10.11092" Mode="Fixed" />
    <Dependency Name="odp.net.managed" Version="121.1.1.0" Mode="Fixed" />
    <Dependency Name="RhinoMocks" Version="3.6.1.0" Mode="Fixed" />
    <Dependency Name="Spark" Version="1.7.5.3" Mode="Fixed" />
    <Dependency Name="Sprache" Version="1.10.0.35" Mode="Fixed" />
    <Dependency Name="structuremap" Version="3.1.5.154" Mode="Fixed" />
    <Dependency Name="structuremap.automocking" Version="3.1.5.154" Mode="Fixed" />
    <Dependency Name="StructureMap.Web" Version="3.1.5.154" Mode="Fixed" />
    <Dependency Name="TopShelf" Version="3.1.0.0" Mode="Fixed" />
    <Dependency Name="TopShelf.Log4Net" Version="3.1.0.0" Mode="Fixed" />
    <Dependency Name="WebActivator" Version="1.5.3.0" Mode="Fixed" />
  </Nugets>
  <Groups />
  <References>
    <IgnoreAssemblies />
  </References>
  <Nuspecs />
</ripple>