<history objectType="case">
  <actEntry code="3400" isVerbose="false">
    <addProperty key="note" field="addnl_info" dataType="string" />
    <traverseRelation name="act_entry2email_log">
      <addProperty key="sender" field="sender" dataType="string" />
      <addProperty key="recipient" field="recipient" dataType="string" />
      <addProperty key="ccList" field="cc_list" dataType="string" />
      <addProperty key="subject" field="x_subject" dataType="string" />
      <addProperty key="timestamp" field="creation_time" dataType="string" />

      <addProperty key="body" field="message" dataType="string">
        <addTransform name="emailParser">
          <addArgument name="input" property="body" />
        </addTransform>
      </addProperty>
      
    </traverseRelation>
  </actEntry>
</history>
