<history objectType="case">
  <when isChild="true">
    <actEntry code="100" />
    <actEntry code="200" />
    <actEntry code="300" />
    <when mergeCaseHistory="true">
      <actEntry code="101" />
      <actEntry code="202" />
      <actEntry code="303" />
    </when>
  </when>
  <when isChild="false">
    <actEntry code="400" />
    <actEntry code="500" />
    <when mergeCaseHistory="true">
      <actEntry code="401" />
    </when>
  </when>
</history>
