<history objectType="case">
  <actEntry code="3400" isVerbose="false">
    <addProperty key="note" field="addnl_info" dataType="string" />
    <traverseRelation name="act_entry2email_log">
      <addProperty key="sender" field="sender" dataType="string" />
      <addProperty key="recipient" field="recipient" dataType="string" />
      <addProperty key="body" field="message" dataType="string" />
    </traverseRelation>
  </actEntry>
  <actEntry code="8900" isVerbose="true">
    <when isChild="false">
      <traverseRelation name="act_entry2doc_inst">
        <addProperty key="id" field="objid" dataType="int" />
        <addProperty key="title" field="title" dataType="string" />
      </traverseRelation>
    </when>
    <when isChild="true">
      <addProperty key="childProperty" field="addnl_info" dataType="string" />
    </when>
  </actEntry>
</history>
