<?xml version="1.0"?>
<configuration>
  <configSections>
    <sectionGroup name="NUnit">
      <section name="TestRunner" type="System.Configuration.NameValueSectionHandler"/>
    </sectionGroup>
  </configSections>
  <NUnit>
    <TestRunner>
      <!-- Valid values are STA,MTA. Others ignored. -->
      <add key="ApartmentState" value="STA"/>
    </TestRunner>
  </NUnit>
  <appSettings>
    <add key="DovetailDatabase.Type" value="mssql"/>
    <add key="DovetailDatabase.ConnectionString" value="Data Source=.;Initial Catalog=mobilecl125;User Id=sa;Password=sa;"/>
    <add key="DovetailDatabase.SessionTimeoutInMinutes" value="20"/>
    <add key="DovetailDatabase.ApplicationUserName" value="sa"/>
  </appSettings>
</configuration>