<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="HistoryOriginalMessageExpressions" type="System.Configuration.AppSettingsSection"/>
    <sectionGroup name="NUnit">
      <section name="TestRunner" type="System.Configuration.NameValueSectionHandler"/>
    </sectionGroup>
  </configSections>
  <HistoryOriginalMessageExpressions>
    <add key="1" value="(?i)-+\s*Original Message\s*-+"/>
    <add key="2" value="(?i)On .*,.*wrote:"/>
    <add key="3" value="(?i)&lt;div style=3D'border:none;border-top:solid #B5C4DF 1.0pt;padding:3.0pt 0in =0in 0in'&gt;"/>
  </HistoryOriginalMessageExpressions>
  <NUnit>
    <TestRunner>
      <!-- Valid values are STA,MTA. Others ignored. -->
      <add key="ApartmentState" value="STA"/>
    </TestRunner>
  </NUnit>
  <appSettings>
    <add key="DovetailDatabaseSettings.Type" value="mssql"/>
    <add key="DovetailDatabaseSettings.ConnectionString" value="Data Source=.; Initial Catalog=mobilecl125; User Id=sa; Password=sa;"/>
    <add key="DovetailDatabaseSettings.SessionTimeoutInMinutes" value="60"/>
    <add key="DovetailDatabaseSettings.ApplicationUsername" value="sa"/>

    <add key="fchoice.test" value="test value for clarify application factory"/>
  </appSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/></startup></configuration>
