<?xml version="1.0"?>
<configuration>
  <configSections>
    <sectionGroup name="NUnit">
      <section name="TestRunner" type="System.Configuration.NameValueSectionHandler"/>
    </sectionGroup>
  </configSections>
  <NUnit>
    <TestRunner>
      <!-- Valid values are STA,MTA. Others ignored. -->
      <add key="ApartmentState" value="STA"/>
    </TestRunner>
  </NUnit>
  <appSettings>
    <add key="DovetailDatabaseSettings.Type" value="mssql" />
    <add key="DovetailDatabaseSettings.ConnectionString" value="Data Source=.; Initial Catalog=mobilecl125; User Id=sa; Password=sa;" />
    <add key="DovetailDatabaseSettings.SessionTimeoutInMinutes" value="60" />
    <add key="DovetailDatabaseSettings.ApplicationUsername" value="sa" />

    <add key="fchoice.test" value="test value for clarify application factory"/>
  </appSettings>
</configuration>