<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <solution>
    <add key="disableSourceControlIntegration" value="true" />
  </solution>
  <!-- these settings are not being honored by Nuget's build target *yet* -->
  <!--<packageSources>
    <add key="nuget" value="http://go.microsoft.com/fwlink/?LinkID=206669" />
    <add key="dovetail_sdk" value="c:\Program Files\Dovetail Software\fcSDK" />
  </packageSources>-->
  <packageSources>
    <add key="https://go.microsoft.com/fwlink/?LinkID=230477" value="https://go.microsoft.com/fwlink/?LinkID=230477" />
    <add key="dovetail" value="\\marvin.fcs.local\product\nuget_feed" />
  </packageSources>
</configuration>