<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <!-- Package sources used to restore packages. By default will use the registered sources under %APPDATA%\NuGet\NuGet.Config -->
  <packageSources>
   <add key="dovetail software" value="https://www.myget.org/F/dovetailsoftware/auth/84fa24e3-44e7-4bd0-9f3d-9d3bb41784fd" />
   <add key="fubumvc edge" value="https://www.myget.org/F/fubumvc-edge/" />
  </packageSources>
  <solution>
    <add key="disableSourceControlIntegration" value="true" />
  </solution>
</configuration>