<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="DovetailDatabaseSettings.Type" value="mssql" />
    <add key="DovetailDatabaseSettings.ConnectionString" value="Data Source=.; Initial Catalog=mobilecl125; User Id=sa; Password=sa;" />
    <add key="DovetailDatabaseSettings.SessionTimeoutInMinutes" value="60" />
    <add key="DovetailDatabaseSettings.ApplicationUsername" value="sa" />
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
  </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="FChoice.Common" publicKeyToken="48c955ba8dfd90d8" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.2.5.37" newVersion="3.2.5.37" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="fcSDK" publicKeyToken="48c955ba8dfd90d8" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.2.5.6" newVersion="3.2.5.6" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>