<model overrides="test">
  <query from="qry_case_view" type="view">
    <traverseRelation type="adhoc" field="elm_objid" table="case" targetField="objid">
      <addMappedCollection key="attachments">
        <traverseRelation name="case_attch2doc_inst">
          <traverseRelation name="doc_inst2act_entry">
            <removeMappedProperty key="uploader" />
          </traverseRelation>
        </traverseRelation>
      </addMappedCollection>
    </traverseRelation>
  </query>
</model>
