<model name="test">
  <addTag tag="linkable" />
  <query from="qry_case_view" type="view">
    <addProperty key="id" field="elm_objid" dataType="int" propertyType="identifier" />
    <addProperty key="title" field="title" dataType="string" />
    <addProperty key="ownerUsername" field="owner" dataType="string" />
    
    <addProperty key="caseType" field="type" dataType="string">
      <addTransform name="localizedListItem">
        <addArgument name="listName" value="Case Type" />
        <addArgument name="listValue" property="caseType" />
      </addTransform>
    </addProperty>
  </query>
</model>
